{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.monobank.ua"
    }
  ],
  "info": {
    "title": "Acquiring",
    "version": "v2412",
    "description": "На кожну зміну статусу рахунку бекенд еквайрингу виконає до 3-х спроб POST запиту, поки у відповідь не отримує http-статус 200 OK. З параметром X-Sign у хідерах. Параметр містить підпис тіла запиту вебхуку по стандарту ECDSA. Приклади верифікації підпису наведено нижче.\n\nAPI може працювати в режимі тестового середовища. Для цього потрібно використовувати токен із https://api.monobank.ua/\n\nДля тестування не потрібно мати термінал або дозвіл для тестування эквайрингу, тестове середовище доступне всім клієнтам банку. В тестовому середовищі для оплати можна використовувати будь-які номер, дату та cvv картки, навіть якщо вони не є дійсними. Єдина умова: номер картки повинен бути валідним за [алгоритмом Луна](https://uk.wikipedia.org/wiki/Алгоритм_Луна). При використанні даних реальної банківської картки, вона буде прийнята, але фінансова авторизація здійснюватись не буде.",
    "x-logo": {
      "url": "logo.png",
      "altText": "logo"
    }
  },
  "paths": {
    "/api/merchant/invoice/create": {
      "post": {
        "summary": "Створення рахунку",
        "description": "Створення рахунку для оплати",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms",
            "in": "header",
            "description": "Назва CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms-Version",
            "in": "header",
            "description": "Версія CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Посилання на оплату рахунку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Пошук за одним із параметрів запиту завершився неуспішно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/status?invoiceId={invoiceId}": {
      "get": {
        "summary": "Статус рахунку",
        "description": "Метод перевірки статусу рахунку при розсинхронізації з боку продавця або відсутності webHookUrl при створенні рахунку.",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "description": "Ідентифікатор рахунку",
            "schema": {
              "type": "string",
              "example": "p2_9ZgpZVsl3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Інформація про рахунок",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Рахунок не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/cancel": {
      "post": {
        "summary": "Скасування оплати",
        "description": "Скасування успішної оплати рахунку",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус операції скасування",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Рахунок не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/remove": {
      "post": {
        "summary": "Інвалідація рахунку",
        "description": "Інвалідація рахунку, якщо за ним ще не було здіснено оплати",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRemoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Інвойс було деактивовано, пуста відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Рахунок не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/pubkey": {
      "get": {
        "summary": "Відкритий ключ для верифікації підписів",
        "description": "Отримання відкритого ключа для перевірки підпису, який включено у вебхуки. Ключ можна кешувати і робити запит на отримання нового, коли верифікація підпису з поточним ключем перестане працювати. Кожного разу робити запит на отримання ключа не треба",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64-закодований ECDSA відкритий ключ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PubkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Токен відсутній",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/finalize": {
      "post": {
        "summary": "Фіналізація суми холду",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceFinalizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Результат фіналізації",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceFinalizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Рахунок не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/qr/details?qrId={qrId}": {
      "get": {
        "summary": "Інформація про QR-касу",
        "description": "Інформація про QR-касу, лише для активованих QR-кас",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qrId",
            "in": "query",
            "description": "Ідентифікатор QR-каси",
            "schema": {
              "type": "string",
              "example": "OBJE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Інформація про QR-касу",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ідентифікатор QR-каси невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "QR-касу не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/qr/reset-amount": {
      "post": {
        "summary": "Видалення суми оплати",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QrResetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Суму було видалено, пуста відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ідентифікатор QR-каси невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "QR-касу не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/qr/list": {
      "get": {
        "summary": "Список QR-кас",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список QR-кас",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Токен відсутній",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/details": {
      "get": {
        "summary": "Дані мерчанта",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Дані мерчанта",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/statement": {
      "get": {
        "summary": "Виписка за період",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "required": true,
            "in": "query",
            "description": "utc unix timestamp",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1649329978
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "utc unix timestamp",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1649329978
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Ідентифікатор терміналу субмерчанту (використовується, якщо мерчант має субмерчантів)",
            "schema": {
              "type": "string",
              "example": "0a8637b3bccb42aa93fdeb791b8b58e9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Виписка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantStatementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/wallet/card": {
      "delete": {
        "summary": "Видалення токенізованої картки",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardToken",
            "in": "query",
            "description": "Токен картки",
            "schema": {
              "type": "string",
              "example": "67XZtXdR4NpKU3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Картку видалено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/wallet": {
      "get": {
        "summary": "Список карток у гаманці",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletId",
            "in": "query",
            "description": "Ідентифікатор гаманця покупця",
            "schema": {
              "type": "string",
              "example": "c1376a611e17b059aeaf96b73258da9c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список токенізованих карток",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/wallet/payment": {
      "post": {
        "summary": "Оплата по токену",
        "description": "Створення платежу за токеном картки",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms",
            "in": "header",
            "description": "Назва CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms-Version",
            "in": "header",
            "description": "Версія CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantWalletPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Дані платежу",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantWalletPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/payment-direct": {
      "post": {
        "summary": "Оплата за реквізитами",
        "description": "Створення рахунку та його оплата за реквізитами картки. Увага, це апі буде працювати тільки за умови наявності у мерчанта активного PCI DSS сертифіката!",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms",
            "in": "header",
            "description": "Назва CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms-Version",
            "in": "header",
            "description": "Версія CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentDirectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Дані рахунку та оплати",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantWalletPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/submerchant/list": {
      "get": {
        "summary": "Список субмерчантів",
        "description": "Дане апі потрібне обмеженому колу осіб, яким при створенні рахунку треба явно вказувати термінал",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список субмерчантів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmerchantListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/receipt?invoiceId={invoiceId}": {
      "get": {
        "summary": "Квитанція",
        "description": "Метод для отримання та відправки квитанції на електронну пошту",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "required": true,
            "description": "Ідентифікатор рахунку",
            "schema": {
              "type": "string",
              "example": "p2_9ZgpZVsl3"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Адреса електронної пошти",
            "schema": {
              "type": "string",
              "example": "me@mail.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Квитанція",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Інвойс не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/fiscal-checks?invoiceId={invoiceId}": {
      "get": {
        "summary": "Фіскальні чеки",
        "description": "Метод для отримання даних фіскальних чеків та їх статусів",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "description": "Ідентифікатор рахунку",
            "schema": {
              "type": "string",
              "example": "p2_9ZgpZVsl3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список фіскальних чеків",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiscalCheckListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Інвойс не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/invoice/sync-payment": {
      "post": {
        "summary": "Синхронна оплата",
        "description": "Апі для синхронної оплати, доступ до апі надається через службу турботи та вимагає наявності певного ряду сертифікатів. Один із обʼєктів `cardData`, `applePay`, `googlePay` є обовʼязковим",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms",
            "in": "header",
            "description": "Назва CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cms-Version",
            "in": "header",
            "description": "Версія CMS, якщо ви розробляєте платіжний модуль для CMS",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceSyncPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Дані результату оплати",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSyncPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Пошук за одним із параметрів запиту завершився неуспішно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/employee/list": {
      "get": {
        "summary": "Список співробітників\n",
        "description": "Список співробітників, які можуть отримати чайові. Для додавання співробітників зверніться в службу турботи. Якщо використовується тестовий токен, то повернуться декілька тестових обʼєктів, які можна буде далі використовувати для налаштовування інтеграції\n",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Масив співробітників",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/split-receiver/list": {
      "get": {
        "summary": "Список отримувачів розщеплених платежів",
        "description": "Метод для отримання списку саб-мерчантів для Розщеплення",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список отримувачів розщеплених платежів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitReceiverListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/t2p/terminal/list": {
      "get": {
        "summary": "Отримання списку терміналів",
        "description": "Метод для отримання списку терміналів в смартфоні по торговцю",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з веб-кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список терміналів клієнта",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TerminalListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Пошук за одним із параметрів запиту завершився неуспішно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/subscription/create": {
      "post": {
        "summary": "Створення регулярного платежу",
        "description": "Створення регулярного платежу для періодичних списань коштів",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Посилання на оплату регулярного платежу",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Пошук за одним із параметрів запиту завершився неуспішно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/subscription/status": {
      "get": {
        "summary": "Отримання статусу регулярного платежу",
        "description": "Метод перевірки статусу регулярного платежу",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "Id регулярного платежу",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Інформація про регулярний платіж",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Підписку не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/subscription/payments": {
      "get": {
        "summary": "Перегляд історії платежів за id підписки",
        "description": "Метод для отримання історії платежів за певною підпискою",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "Id підписки",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Кількість отриманих платежів (дефолт 20)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Зміщення (дефолт 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "description": "Дата від - формат rfc3339 (2024-06-26T18:12:44+03:00)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "description": "Дата до - формат rfc3339 (2024-06-26T18:12:44+03:00)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Історія платежів за підпискою",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Підписку не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/subscriptions/list": {
      "get": {
        "summary": "Перегляд регулярних платежів у клієнта",
        "description": "Метод для отримання списку регулярних платежів",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Статус підписок: active - активні підписки, cancelled - неактивні підписки",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "cancelled"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Кількість отриманих підписок (дефолт 20)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Зміщення (дефолт 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "description": "Дата від - формат rfc3339 (2024-06-26T18:12:44+03:00)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "description": "Дата до - формат rfc3339 (2024-06-26T18:12:44+03:00)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список регулярних платежів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/subscription/remove": {
      "post": {
        "summary": "Інвалідація підписки",
        "description": "Метод для інвалідації регулярної підписки",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRemoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Підписку було деактивовано, пуста відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Підписку не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/subscription/edit": {
      "post": {
        "summary": "Керування регулярним платежем",
        "description": "Метод для керування регулярним платежем (скасування, повернення коштів)",
        "parameters": [
          {
            "name": "X-Token",
            "required": true,
            "in": "header",
            "description": "Токен з особистого кабінету https://web.monobank.ua/ або тестовий токен з [https://api.monobank.ua/](https://api.monobank.ua/index.html)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Зміни виконано, пуста відповідь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Один із вхідних параметрів невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Токен невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Підписку не знайдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405": {
            "description": "Http-метод невалідний",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            }
          },
          "429": {
            "description": "Занадто багато запитів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Під час виконання запиту виникла непередбачена помилка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CancelListItem": {
        "type": "object",
        "required": [
          "status",
          "createdDate",
          "modifiedDate"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "success",
              "failure"
            ],
            "description": "Статус заяви скасування:\n\n  `processing` - заява на скасування знаходиться в обробці\n\n  `success` - заяву на скасування виконано успішно\n\n  `failure` - неуспішне скасування\n"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Сума у мінімальних одиницях",
            "example": 4200
          },
          "ccy": {
            "type": "integer",
            "format": "int32",
            "example": 980,
            "description": "ISO 4217 код валюти"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Дата і час створення заяви на скасування"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Дата і час останньої модифікації операції скасування"
          },
          "approvalCode": {
            "type": "string",
            "description": "Код авторизації",
            "example": "662476"
          },
          "rrn": {
            "type": "string",
            "description": "Ідентифікатор транзакції в платіжній системі",
            "example": "060189181768"
          },
          "extRef": {
            "type": "string",
            "example": "635ace02599849e981b2cd7a65f417fe",
            "description": "Референс операції скасування, який було вказано продавцем"
          }
        }
      },
      "QrListItem": {
        "type": "object",
        "required": [
          "shortQrId",
          "qrId",
          "amountType",
          "pageUrl"
        ],
        "properties": {
          "shortQrId": {
            "type": "string",
            "example": "OBJE",
            "description": "Короткий ідентифікатор QR-каси"
          },
          "qrId": {
            "type": "string",
            "description": "Ідентифікатор QR-каси для встановлення суми оплати на існуючих QR-кас",
            "example": "XJ_DiM4rTd5V"
          },
          "amountType": {
            "type": "string",
            "enum": [
              "merchant",
              "client",
              "fix"
            ],
            "description": "Тип суми одноразової каси:\n\n  `merchant` - суму встановлює мерчант\n\n  `client` - суму встановлює клієнт\n\n  `fix` - сума фіксована\n"
          },
          "pageUrl": {
            "type": "string",
            "description": "Посилання на оплату QR-каси",
            "example": "https://pay.mbnk.biz/XJ_DiM4rTd5V"
          }
        }
      },
      "MerchantStatementItem": {
        "type": "object",
        "required": [
          "invoiceId",
          "status",
          "maskedPan",
          "date",
          "paymentScheme",
          "amount",
          "profit",
          "ccy"
        ],
        "properties": {
          "invoiceId": {
            "description": "Ідентифікатор рахунку, за яким здійснювалась оплата",
            "type": "string",
            "example": "2205175v4MfatvmUL2oR"
          },
          "status": {
            "type": "string",
            "enum": [
              "hold",
              "processing",
              "success",
              "failure"
            ],
            "example": "success"
          },
          "maskedPan": {
            "type": "string",
            "description": "Маскований номер картки, за якою здійснювалась оплата",
            "example": "444403******1902"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата і час фін. операції у форматі RFC-3339"
          },
          "paymentScheme": {
            "type": "string",
            "enum": [
              "bnpl_later_30",
              "bnpl_parts_4",
              "full"
            ],
            "description": "Схема оплати:\n\n  `bnpl_later_30` - bnpl-оплата\n\n  `bnpl_parts_4` - платіж 4 частини\n\n  `full` - повна оплата\n"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "example": 4200,
            "description": "Сума оплати у мінімальних одиницях (копійки для гривні)"
          },
          "profitAmount": {
            "type": "integer",
            "format": "int64",
            "example": 4100,
            "description": "Сума, яку отримає мерчант на свій рахунок після взаєморозрахунку з банком"
          },
          "ccy": {
            "type": "integer",
            "format": "int32",
            "example": 980,
            "description": "ISO 4217 код валюти"
          },
          "approvalCode": {
            "type": "string",
            "description": "Код авторизації транзакції",
            "example": "662476"
          },
          "rrn": {
            "type": "string",
            "description": "Ідентифікатор транзакції в платіжній системі",
            "example": "060189181768"
          },
          "reference": {
            "type": "string",
            "example": "84d0070ee4e44667b31371d8f8813947",
            "description": "Номер чека, замовлення, тощо, який було вказано мерчантом при створенні рахунку"
          },
          "shortQrId": {
            "type": "string",
            "example": "OBJE",
            "description": "Короткий ідентифікатор QR-каси"
          },
          "destination": {
            "type": "string",
            "description": "Призначення платежу, визначається продавцем",
            "example": "Покупка щастя"
          },
          "cancelList": {
            "type": "array",
            "description": "Перелік операцій скасування",
            "items": {
              "type": "object",
              "required": [
                "amount",
                "ccy",
                "date",
                "maskedPan"
              ],
              "properties": {
                "amount": {
                  "type": "integer",
                  "format": "int64",
                  "example": 4200,
                  "description": "Сума оплати у мінімальних одиницях (копійки для гривні)"
                },
                "ccy": {
                  "type": "integer",
                  "format": "int32",
                  "example": 980,
                  "description": "ISO 4217 код валюти"
                },
                "date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Дата і час фін. операції у форматі RFC-3339"
                },
                "approvalCode": {
                  "type": "string",
                  "description": "Код авторизації транзакції",
                  "example": "662476"
                },
                "rrn": {
                  "type": "string",
                  "description": "Ідентифікатор транзакції в платіжній системі",
                  "example": "060189181768"
                },
                "maskedPan": {
                  "type": "string",
                  "description": "Маскований номер картки, на яку здійснювалось повернення коштів",
                  "example": "444403******1902"
                }
              }
            }
          }
        }
      },
      "InvoiceCreateRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "example": 4200,
            "description": "Сума оплати у мінімальних одиницях (копійки для гривні)"
          },
          "ccy": {
            "type": "integer",
            "format": "int32",
            "example": 980,
            "description": "ISO 4217 код валюти, за замовчуванням 980 (гривня)"
          },
          "merchantPaymInfo": {
            "$ref": "#/components/schemas/MerchantPaymInfoItem"
          },
          "redirectUrl": {
            "type": "string",
            "description": "Адреса для повернення (GET) - на цю адресу буде переадресовано користувача після завершення оплати (у разі успіху або помилки)",
            "example": "https://example.com/your/website/result/page"
          },
          "successUrl": {
            "type": "string",
            "description": "Адреса для повернення (GET) - на цю адресу буде переадресовано користувача у разі успішної оплати",
            "example": "https://example.com/your/website/success/page"
          },
          "failUrl": {
            "type": "string",
            "description": "Адреса для повернення (GET) - на цю адресу буде переадресовано користувача у разі неуспішної оплати",
            "example": "https://example.com/your/website/fail/page"
          },
          "webHookUrl": {
            "type": "string",
            "description": "Адреса для CallBack (POST) – на цю адресу буде надіслано дані про стан платежу при зміні статусу, окрім статусу `expired`. Зміст тіла запиту ідентичний відповіді запиту “Статус рахунку”. **Гарантії доставки повідомлень одне за одним не надається. Тобто, може бути ситуація, коли вебхук про успішну оплату (`status=success`) прийде раніше за вебхук про обробку цієї оплати (`status=processing`). Краще орієнтуватись на поле `modifiedDate` при аналізі поточного статусу рахунку. Вебхук із більшим `modifiedDate` буде актуальним**.\n\nОкрім вебхуків при зміні статусу рахунку, вебхуки також будуть приходити при зміні статусу токенізоваї картки, якщо обʼєкт `saveCardData` було вказано при створенні рахунку",
            "example": "https://example.com/mono/acquiring/webhook/maybesomegibberishuniquestringbutnotnecessarily"
          },
          "validity": {
            "type": "integer",
            "format": "int64",
            "example": 3600,
            "description": "Строк дії в секундах, за замовчуванням рахунок перестає бути дійсним через 24 години"
          },
          "paymentType": {
            "type": "string",
            "description": "Тип операції. Для значення `hold` термін складає 9 днів. Якщо через 9 днів холд не буде фіналізовано — він скасовується",
            "enum": [
              "debit",
              "hold"
            ],
            "default": "debit"
          },
          "qrId": {
            "type": "string",
            "description": "Ідентифікатор QR-каси для встановлення суми оплати на існуючих QR-кас",
            "example": "XJ_DiM4rTd5V"
          },
          "code": {
            "type": "string",
            "example": "0a8637b3bccb42aa93fdeb791b8b58e9",
            "description": "Код терміналу субмерчанта, з апі \"Список субмерчантів\". Доступний обмеженому колу мерчантів, які точно знають, що їм це потрібно"
          },
          "saveCardData": {
            "type": "object",
            "description": "Дані для збереження (токенізації) картки. Для підключення функції, зверніться, будь ласка, в службу турботи monobank. Токенізація недоступна за замовчуванням",
            "required": [
              "saveCard"
            ],
            "properties": {
              "saveCard": {
                "type": "boolean",
                "description": "Ознака зберігання картки (токенізації) після оплати"
              },
              "walletId": {
                "type": "string",
                "description": "Ідентифікатор гаманця користувача",
                "example": "69f780d841a0434aa535b08821f4822c"
              }
            }
          },
          "agentFeePercent": {
            "type": "number",
            "format": "float",
            "example": 1.42,
            "description": "Відсоток комісії, який агент встановлює для себе"
          },
          "tipsEmployeeId": {
            "type": "string",
            "description": "Ідентифікатор співробітника, який може отримати чайові після оплати; ідентифікатор можна взяти з апі \"Список співробітників\""
          },
          "displayType": {
            "type": "string",
            "description": "Отримання клієнтом посилання iframe для відображення віджета (якщо параметр не передано, то звичайне посилання)",
            "enum": [
              "iframe"
            ]
          }
        }
      },
      "MerchantPaymInfoItem": {
        "type": "object",
        "description": "Інформаційні дані замовлення, яке буде оплачуватись. Обовʼязково вказувати при активній звʼязці з ПРРО (звʼязка створюється у веб-кабінеті https://web.monobank.ua)",
        "properties": {
          "reference": {
            "type": "string",
            "example": "84d0070ee4e44667b31371d8f8813947",
            "description": "Номер чека, замовлення, тощо; визначається мерчантом"
          },
          "destination": {
            "type": "string",
            "description": "Призначення платежу",
            "example": "Покупка щастя",
            "maxLength": 280
          },
          "comment": {
            "type": "string",
            "description": "Службове інформаційне поле",
            "example": "Покупка щастя",
            "maxLength": 280
          },
          "customerEmails": {
            "type": "array",
            "description": "Масив пошт, на які потрібно відправити фіскальний чек, якщо у мерчанта активна звʼязка з checkbox",
            "uniqueItems": true,
            "items": {
              "type": "string"
            },
            "example": []
          },
          "discounts": {
            "type": "array",
            "description": "Масив знижок або надбавок на всю корзину, які будуть передані в checkbox для фіскалізації, якщо звʼязку з checkbox активовано",
            "items": {
              "type": "object",
              "description": "Обʼєкт знижки або надбавки",
              "required": [
                "type",
                "mode",
                "value"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Тип знижки або надбавки\n\n`DISCOUNT` — знижка\n\n`EXTRA_CHARGE` — надбавка\n",
                  "enum": [
                    "DISCOUNT",
                    "EXTRA_CHARGE"
                  ]
                },
                "mode": {
                  "type": "string",
                  "description": "Режим знижки або надбавки\n\n`PERCENT` — відсоток від basketOrder.sum * basketOrder.qty\n\n`VALUE` — числове значення\n",
                  "enum": [
                    "PERCENT",
                    "VALUE"
                  ]
                },
                "value": {
                  "type": "number",
                  "description": "Значення, яке буде фігурувати в розрахунках",
                  "minimum": 0.01,
                  "multipleOf": 0.01
                }
              }
            }
          },
          "basketOrder": {
            "type": "array",
            "description": "Склад замовлення, використовується для відображення кошика замовлення, обовʼязково вказувати при активній звʼязці з ПРРО (звʼязка створюється у веб-кабінеті https://web.monobank.ua)",
            "items": {
              "type": "object",
              "description": "Перелік товарів та/або послуг",
              "required": [
                "name",
                "qty",
                "sum",
                "code"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Назва товару",
                  "example": "Табуретка"
                },
                "qty": {
                  "type": "number",
                  "format": "float",
                  "description": "Кількість одиниць товару",
                  "example": 2
                },
                "sum": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Сума у мінімальних одиницях валюти за одиницю товару; якщо ви торгуєте табуретками, ціна якої 21 гривня, і у вас замовлення на 2 табуретки, то qty=2, sum=2100, amount=4200, total=4200",
                  "example": 2100
                },
                "total": {
                  "type": "integer",
                  "format": "int64",
[...]
